:root {
  --size-header-h: 48px;
  --size-header-logo: 26px;
  --size-content-h: calc(100vh - var(--size-header-h));
  --size-content-p: 0px;
  --size-content-inner-h: calc(var(--size-content-h) - var(--size-content-p) * 2);
}
